.btn {
  border: 2px solid #e3c9b6;
  background-color: #699196;
  color: #e3c9b6;
}

.btn:hover {
  transition: ease-out;
  background-color: #e3c9b6;
  color: #699196;
  border: 2px solid #699196;
  transition-duration: 0.35s;
}

.btn:active {
  background-color: #96745a;
  color: #b6dfe4;
  border: 2px solid #b6dfe4;
}

#academicas,
#no-academicas {
  font-size: 25px;
  margin-top: 10%;
}

#modal-body {
  background-color: #96745a;
  color: #e6fcff;
}

body {
  background-color: #e6fcff;
  color: #96745a;
}

a {
  color: #e3c9b6;
}

a:hover {
  transition: ease-out;
  color: #96745a;

  transition-duration: 0.35s;
}

a:active {
  color: #b68865;
}

.popover {
  background-color: #e3c9b6 !important;
}
.popover-body {
  color: #699196;
  font-size: 0.99rem;
  max-width: fit-content;
}

#small-text {
  font-size: 0.7rem;
  font-weight: 500;
}

#table1,
td a {
  background-color: #e3c9b6;
  color: #699196;
}

td:hover,
td:hover a {
  background-color: #699196;
  color: #e3c9b6;
  transition: ease-out;
  transition-duration: 0.35s;
}

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #e6fcff;
}

ul.breadcrumb li {
  display: inline;
  font-size: 1.8rem;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #96745a;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #96745a;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #b68865;
  transition: ease-out;
  text-decoration: underline;
  transition-duration: 0.35s;
}

.btn.active {
  background-color: #96745a;
  color: #b6dfe4;
  border: 2px solid #b6dfe4;
}

i {
  color: #699196;
}

i:hover {
  color: #b6dfe4;
  transition: ease-out;
  transition-duration: 0.35s;
}
